@model CoolOrganic_Project.Models.Entity.tblAdmin
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/LoginAdmin.cshtml";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Đăng nhập</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Bạn có tài khoản chưa?</h3>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Username, "", new { @class = "form-control", @placeholder = "Username" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @id = "password-field" })
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">ĐĂNG NHẬP</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">
                                    Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#" style="color: #fff">Quên mật khẩu</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


