<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Content_Admin/css_login/style_login.css" rel="stylesheet" />
</head>
<body class="img js-fullheight" style="background-image: url('../../../../Content/Content_Admin/images/bg.jpg');">
    @RenderBody()
    <script src="~/Scripts/jsAdmin/jsLogin/jquery.min.js"></script>
    <script src="~/Scripts/jsAdmin/jsLogin/popper.js"></script>
    <script src="~/Scripts/jsAdmin/jsLogin/bootstrap.min.js"></script>
    <script src="~/Scripts/jsAdmin/jsLogin/main.js"></script>
</body>
</html>
